doctype html
html(lang='en')
      head
            title Ecommerce User Login
      body
            h1 Login User
            form(action="/api/user/login" method='post')
                  label(for="userEmail") Enter email:
                        input(type="email" name='userEmail') 
                  label(for="userPassword") Enter password:
                        input(type="password" name='userPassword') 
                  button(type='submit') Submit
