doctype html
html(lang='en')
      head
            title Ecommerce New Product
      body
            h1 create New Product
            form(action="/api/products" method='post')
                  input(type="text" name='productName' value='first product 1')
                  input(type="text" name='productDescn' value='this is the first product with price of 10 and stock of 20 and image link')
                  input(type="number" name='productPrice' value=10)
                  input(type="number" name='productStock' value=20)
                  input(type="text" name='productImage' value='link')
                  button(type='submit') submit