doctype html 
html
   head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title= `CodeAlpha E-Commerce ${title}` 
   body
      h1 All Products 