doctype html
html(lang='en')
      head
            title Ecommerce Products
      body
            h1 This file holds all the products
            h2 Products
            each product in products
                   div.product
                   h3= product